aws_region                    = "eu-west-1"
aws_account_id                = "123456789012"
terraform_execution_role_name = "k8s-llm-serving-terraform-role"

name_prefix  = "k8s-llm-serving"
cluster_name = "k8s-llm-serving-eks-dev"

vpc_cidr = "10.20.0.0/20"

# Must contain exactly az_count CIDRs.
public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24",
]

private_subnet_cidrs = [
  "10.20.8.0/22",
  "10.20.12.0/22",
]

# EKS configuration
kubernetes_version   = "1.36"
endpoint_access_mode = "public"

# Node group instance types
cpu_instance_types = ["t3.large"]
gpu_instance_types = ["g4dn.xlarge"]

tags = {
  Environment = "dev"
  ManagedBy   = "Terraform"
  Project     = "k8s-llm-serving-platform"
}
